
@{
    Layout = null;
}
@using com.wbs.model;
@using commen;



<!DOCTYPE html>
<link href="~/jquery-easyui-1.5.5.4/themes/default/easyui.css" rel="stylesheet" />
<link href="~/jquery-easyui-1.5.5.4/themes/icon.css" rel="stylesheet" />
<link href="~/Content/tableStyle.css" rel="stylesheet" />
<link href="~/Content/pageBar.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/easyui-lang-zh_CN.js"></script>
<script src="~/Scripts/jquery.easyui.min.js"></script>
<script type="text/javascript">
    $(function () {        
        $("divAdd").css("display", "none");
        $("#detaiDIV").css("display", "none");
        $(".details").click(function () {
            showDetails($(this).attr("ids"));//点击显示详细信息
        });
        $(".delete").click(function () {
            deleteNewInfo($(this).attr("ids"), $(this));//点击删除新闻
        });
        $("#addinfo").click(function () {
            //点击添加新闻的函数
            addNewInfo();
        });
        $(".udpate").click(function () {
            udpateInfo($(this).attr("ids"));//修改新闻
        });
    });
    //修改新闻信息
    function udpateInfo(id) {
        $("#editInfoFrame").attr("src", "/AdminNewsList/ShowEdit?id="+id);
        $("#editInfoDiv").css("display", "block");
        $('#editInfoDiv').dialog({
            title: "编辑新闻信息",
            collapsible: true,
            minimizable: true,
            width: 700,
            height: 400,
            modal: true,
            buttons: [{
                text: '修改',
                iconCls: 'icon-ok',
                handler: function () {
                    //$('#addInfoDiv').dialog('close');
                    var childWindow = $("#editInfoFrame")[0].contentWindow;
                    childWindow.SubForm();//提交表单
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#editInfoDiv').dialog('close');
                }
            }]
        });
    }

    //修改新闻之后，用父窗体调用此函数关闭窗体
    function afterEdit() {
        $.messager.alert("提示", "修改成功!", "info");
        $('#editInfoDiv').dialog('close');
    }
    //添加新闻信息
    function addNewInfo() {
        $("#addFrame").attr("src", "/AdminNewsList/ShowAndInfo");
        $("#divAdd").css("display", "block");
        $('#divAdd').dialog({
            modal: true,//将原来的也显示
            resizable: true,//可以缩放
            maximizable: true,//可以最小化
            collapsible: true,//可以折叠
            title: "添加详细",//题目
            width: 700,
            height: 400,
            buttons: [{
                text: ' 确定',
                iconCls: 'icon-ok',
                handler: function () {
                    //调用子窗体中的方法
                    var chidWindow = $("#addFrame")[0].contentWindow;//获取子窗体的window对象
                    chidWindow.subForm();//调用子窗体中的subForm()这个方法
                }
            },
            {
                text: '取消',
                handler: function () {
                    $('#divAdd').dialog('close');
                }
            }]
        });
    }
    //添加完成以后，调用此方法，关闭窗口
    function afterAdd() {
        $('#divAdd').dialog('close');
    }
    //删除新闻
    function deleteNewInfo(id, control) {//control是一个在界面删除某一行元素的标识
        $.messager.confirm("提示", "确定要删除该记录吗?", function (r) {
            if (r) {
                //该条件成立表示删除该记录
                //发送异步请求.
                $.post("/AdminNewsList/DeleteNewInfoModel", { "id": id }, function (data) {
                    if (data == "ok") {
                        //删除成功，移除对应的记录
                        $(control).parent().parent().remove();
                        //$.messager.show({
                        //    title: '提示',
                        //    msg: '恭喜删除成功!!',
                        //    showType: 'show'
                        //});
                        $.messager.alert("提示", "删除成功", "info")
                    } else {
                        //删除失败
                        $.messager.alert("提示", "删除失败", "info");//info会显示一个感叹号
                    }
                });


            }
        });

    }
    //点击显示详细信息
    function showDetails(id) {
        $("#detaiDIV").css("display", "block");//将div显示出来
        //发送异步请求
        $.post("/AdminNewsList/GetNewInfoModel", { id: id }, function (data) {
            $("#title").text(data.Title);
            $("#author").text(data.Author);
            $("#subDateTime").text(ChangeDateFormat(data.SubDataTime));
            $("#msg").html(data.Msg);
        });
       
        $('#detaiDIV').dialog({
            title: "新闻详细信息",//题目
            collapsible: true,//可以折叠
            minimizable: true,//可以最小化
            width: 500,
            height: 400,
            modal: true,//将原来的也显示
            resizable: true,//可以缩放
            buttons: [{
                text: '确定',
                iconCls: 'icon-ok',
                handler: function () {
                    $('#detaiDIV').dialog('close');
                }
            }, {
                text: '取消',
                handler: function () {
                    $('#detaiDIV').dialog('close');
                }
            }]
        });
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    }
</script>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="javascript:void(0)" id="addinfo">添加新闻信息</a>
        @if (ViewData["list"] != null)
        {
            <table width="100%">
                <tr><th>编号</th><th>标题</th><th>作者</th><th>时间</th><th>详细</th><th>删除</th><th>修改</th></tr>
                @foreach (NewInfo newinfo in (List<NewInfo>)ViewData["list"])
                {
                    <tr>
                        <td>@newinfo.Id</td>
                        <td>@newinfo.Title</td>
                        <td>@newinfo.Author</td>
                        <td>@newinfo.SubDataTime</td>
                        <td><a href="javascript:void(0)" class="details" ids="@newinfo.Id">详细</a></td>
                        <td><a href="javascript:void(0)" class="delete" ids="@newinfo.Id">删除</a></td>
                        <td><a href="javascript:void(0)" class="udpate" ids="@newinfo.Id">修改</a></td>
                    </tr>
                }
            </table>
            <p class="page_nav">
                @MvcHtmlString.Create(PageBar.GetPageBar((int)ViewData["pageindex"], (int)ViewData["pagecoune"]));

            </p>
        }
        else
        {
            <span>新闻管理</span>
        }
    </div>
    @* 显示详细内容 *@
    <div id="detaiDIV">
        <table>
            <tr>
                <td>标题</td>
                <td><span id="title"></span></td>
            </tr>
            <tr>
                <td>作者</td>
                <td><span id="author"></span></td>
            </tr>
            <tr>
                <td>时间</td>
                <td><span id="subDateTime"></span></td>
            </tr>
            <tr>
                <td>内容</td>
                <td><span id="msg"></span></td>
            </tr>
        </table>

    </div>
    @* 显示详细内容结束 *@

    @* 添加信息内容 *@
    <div id="divAdd" style="overflow:hidden">
        <iframe src="" id="addFrame" frameborder="0" width="100%" height="100%" scrolling="auto"></iframe>
    </div>
    @* 添加信息内容结束 *@



    <!---------------编辑用户信息---------------------->
    <div id="editInfoDiv" style="overflow:hidden">
        <iframe id="editInfoFrame" scrolling="auto" frameborder="0" width="100%" height="100%"></iframe>
    </div>
    <!---------------编辑用户信息结束---------------------->
</body>
</html>
